@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p> M-Corp provides a comprehensive portfolio of services and solutions that not only solve today’s IT 
    challenges, but also address tomorrow’s business priorities. As a strategic premier application 
    and infrastructure outsourcing services provider, M-Corp enables our customers to maximize the 
    value of their IT investments, while helping them optimize their IT expenses for sustained 
    business value.</p> <br />

