@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    M-Corp provides a comprehensive portfolio of services and solutions that not only solve today’s IT
    challenges, but also address tomorrow’s business priorities. As a strategic premier application
    and infrastructure outsourcing services provider, M-Corp enables our customers to maximize the
    value of their IT investments, while helping them optimize their IT expenses for sustained
    business value.
</p> <br />

<p>
    <h4><bold>* Computer / printer maintenance:-</bold></h4>
    <ul style="list-style-type:square">
        <li>Installing, maintaining and repairing software or hardware</li>
        <li>Troubleshooting different computer issues</li>
        <li>Determining and installing appropriate security measures</li>
        <li>Installing & configuring basic computer networks</li>
        <li>Providing technical support on-site or via phone or email</li>
        <li>Install, configure, and maintain common end user application software. May train and provide assistance to end users.</li>
        <li>Troubleshoots software and hardware problems related to Internet applications.</li>
    </ul>
    <h4><bold>* Network cabling and rectification:-</bold></h4>
    <ul style="list-style-type:square">
        <li>Manage all the network equipment’s like switches and all</li>
        <li>Manage all network cabling by using quality CAT 6 cable</li>
        <li>Rectify your existing cabling if required</li>
    </ul>

    <h4> <bold>* Network consulting:-</bold></h4>
    <ul style="list-style-type:square">
        <li> We suggest you the best and secure network structure as per your requirement.</li>
    </ul>
    <h4><bold>* Personalized Application Software development:-</bold></h4>
    <ul style="list-style-type:square">
        <li>We develop, test and design the software according to your need with feature ready upgraded software.</li>
    </ul>
    <h4><bold>* Website Development:-</bold></h4>
     <ul style="list-style-type:square">
         <li>We are proficient in building the web application with the newest technology stack in the market like NODE.JS, REACT, ANGULAR.JS, that will increase your chances of doing business with ease and fast too.</li>
     </ul>
    <h4> <bold>* Cloud Consulting:-</bold></h4>
    <ul style="list-style-type:square">
        <li>Dedicated cloud specialist team for connecting your on premises environment to cloud environment like MICROSOFT AZURE, AWS, GCP etc. According to your need.</li>
    </ul>
    <h4> <bold>* Digitizing your business for next edge computing:-</bold></h4>
    <ul style="list-style-type:square">
        <li> Worry about how to get digitize your business? Have a cup of tea with us, our technology evangelist will help you out through-out the process </li>
    </ul>
	

