@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address style="width:50%;float:left">
    <strong style="font-size:20px">Regional Office</strong> <br>
    1103, Chandrawati Bhavan ,Ghamapur Chawk <br>
    Jabalpur, M.P <br>
    Pin - 482002 <br>
    <abbr title="Phone">P:</abbr>
    +919713030885 <br>
    +917869643112
</address>

<address>
    <strong style="font-size:20px">Corporate Office</strong> <br>
    Siyaram sadan, Ashok Nagar <br>
    Road Number-2 , Kankadbagh <br>
    Patna, Bihar <br>
    Pin -800020 <br>
    <abbr title="Phone">P:</abbr>
    +919713030885

</address>

<address style="clear:both">
    <strong>Infra Support and Consulting:</strong>   <a href="mailto:amitkumar@musafircorp.com">amitkumar@musafircorp.com</a><br />
    <strong>Technical Support:</strong> <a href="mailto:akhileshKumar@musafircorp.com">akhileshKumar@musafircorp.com</a>
</address>