
@{
    ViewBag.Title = "Services";
}

<h2 >Services</h2>

<h1 style="font-size:22px">We Offer the Follwing Services in the following areas:-</h1>
<div style="padding-left:17px">
    <h3 style="font-size:20px"> <strong>.</strong> Infrastructure IT Solutions</h3>
    <ul style="list-style-type:square">
        <li>Computer Maintenance</li>
        <li>Printer Maintenance</li>
        <li>Network Infrastructure Counslting</li>
        <li>And many more Services Comming Soon.</li>
    </ul>
</div>
<div style="padding-left:17px">
    <h3 style="font-size:20px"> <strong>.</strong> Software and Application Devlopment</h3>
    <ul style="list-style-type:square">
        <li>Customized Software Devlopment  </li>
        <li>WebSite Devlopment</li>
        <li>Mobile Application Devlopment including Android ,Windows Universal Apps</li>
        <li>And many more Services Comming Soon.</li>
    </ul>
</div>
<div style="padding-left:17px">
    <h3 style="font-size:20px"> <strong>.</strong> Consulting</h3>
    <ul style="list-style-type:square">
        <li>Infrastructure Managment </li>
        <li>Cloud Consulting</li>
        <li>Technology Consulting</li>
    </ul>
</div>


